<!DOCTYPE html>
<html>
  <head>
    <title>Cohub Code Challenge</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'questionnaire' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
